@page "/credits"

<PageTitle>Credits</PageTitle>

<h1>Credits</h1>

<h2>3rd party packages</h2>
<ul>    
    <li><a href="https://github.com/datafac/dtomaker-core">DTOMaker</a></li>
</ul>

<h2>Contributors</h2>
<ul>
    <li><a href="https://github.com/Psiman62">Psiman62</a></li>
</ul>

<h2>How to sponsor</h2>
<p>
If you find this project useful, please consider sponsoring my work
at <a href="https://github.com/sponsors/Psiman62">GitHub</a>
or <a href="https://www.buymeacoffee.com/psiman62">buy me a coffee</a>.
</p>
