@page "/credits"

<PageTitle>Credits</PageTitle>

<h1>Credits</h1>

<p>3rd party packages:</p>
<ul>    
    <li><a href="https://github.com/datafac/dtomaker-core">DTOMaker</a></li>
</ul>

<p>Contributors:</p>
<ul>
    <li><a href="https://github.com/Psiman62">Psiman62</a></li>
</ul>
