@page "/"

<PageTitle>Home</PageTitle>

<h1>MyFamily2</h1>

<p>MyFamily2 is an experimental static web app for family organisation.</p>
<p>Source code can be found at: <a href="https://github.com/Psiman62/MyFamily2">GitHub</a>.</p>
<p>Version: @ThisAssembly.AssemblyInformationalVersion</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(0);
    }
}
