@page "/"

<PageTitle>Home</PageTitle>

<h1>MyFamily2</h1>

<p>An experimental web app for family organisation.</p>

<p>Source code can be found at: <a href="https://github.com/Psiman62/MyFamily2">GitHub</a>.</p>
